/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}
body {background-color: #d75050;}
/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 10px #9EC17B solid;
    margin:10px;
}
.h2 {
  color: #341d1d;
    }